.main-nav {
    background-color: rgba(5, 16, 29, 0.8);
    color: white;
}

#main-navbar .navbar-nav .nav-item {
    margin-right: 20px;
}

.ternium-logo {
    width: 8rem;
}

.yellow-bar {
    background-color: #FFAD3D;
    height: 4px;
}

.footer-style {
    background-color: #05101D;
    line-height: unset;
}

.active-user {
    padding: 0.5rem 0.2rem;
}