.leaderboard-text {
    font-size: 4.5vw;
    font-weight: bolder;
}

.mode-buttons {
    width: 20%;
}

.btn-left {
    border-top-left-radius: 500px;
    border-bottom-left-radius: 500px;
}

.btn-leaderboard {
    font-size: 1vw;
    border-width: 1px;
    padding: 0.8em 1em;
    font-weight: bold;
}

.btn-active {
    background-color: #FF3900;
    border-color: #FF3900;
    color: white;
}

.btn-inactive {
    background-color: transparent;
    border-color: #FF3900;
    color: #FF3900;
}

.btn-right {
    border-top-right-radius: 500px;
    border-bottom-right-radius: 500px;
}

.time-select {
    font-size: 1vw;
    font-weight: bold;
}

.table-heading {
    background-color: rgba(5, 16, 29, 0.8) !important;
    color: #FFAD3D !important;
}

/* RESPONSIVIDAD */

@media (max-width: 1200px) {
    .time-select {
        font-size: 1vw;
    }

    .btn-leaderboard {
        font-size: 1vw;
    }
}

@media (max-width: 768px) {
    .time-select {
        font-size: 0.6em;
    }

    .btn-leaderboard {
        font-size: 0.6em;
    }
}