.leaderboard-text {
    font-size: 4em;
    font-weight: bolder;
}

.mode-buttons {
    width: 20%;
}

.btn-left {
    border-top-left-radius: 500px;
    border-bottom-left-radius: 500px;
}

.btn-leaderboard {
    font-size: 1em;
    border-width: 1px;
    padding: 0.8em 1em;
    font-weight: bold;
}

.btn-active {
    background-color: #FF3900;
    border-color: #FF3900;
    color: white;
}

.btn-inactive {
    background-color: transparent;
    border-color: #FF3900;
    color: #FF3900;
}

.btn-right {
    border-top-right-radius: 500px;
    border-bottom-right-radius: 500px;
}

.time-select {
    font-size: 1.2em;
    font-weight: bold;
}

.table-heading {
    background-color: rgba(5, 16, 29, 0.8) !important;
    color: #FFAD3D !important;
}

/* RESPONSIVIDAD */

@media (max-width: 1200px) {
    .time-select {
        font-size: 1em;
    }

    .leaderboard-text {
        font-size: 3em;
    }

    .btn-leaderboard {
        font-size: 0.8em;
    }
}

@media (max-width: 991px) {
    .time-select {
        font-size: 1em;
    }

    .leaderboard-text {
        font-size: 2.2em;
    }

    .btn-leaderboard {
        font-size: 0.8em;
    }
}

@media (max-width: 767px) {
    .time-select {
        font-size: 0.9em;
    }

    .leaderboard-text {
        font-size: 1.6em;
    }

    .btn-leaderboard {
        font-size: 0.6em;
    }

}

@media (max-width: 575px) {
    .time-select {
        font-size: 1.4em;
    }

    .leaderboard-text {
        display: none;
    }

    .btn-leaderboard {
        font-size: 1em;
    }
}