.main-content {
    position: absolute;
    height: 60%;
    background-image: url('../Images/fondo-ternium.png');
    background-size: cover;
    background-position: bottom left;
}

.top-nav {
    width: 8rem;
}

.header-logo {
    width: 8rem;
}

.user-input {
    width: 100%;
    height: 2.5em;
    padding: 0.2em 0.6em;
    background-color: transparent;
    border-style: solid;
    border-color: white;
    border-width: 0.05em;
    border-radius: 0.2em;
    margin-top: 0.1em;
    margin-bottom: 1.2em;
}

.user-input::-webkit-input-placeholder {
    color: white;
    font-size: 0.8em;
}

.login-btn {
    font-size: 0.8em;
    background-color: white;
    border-radius: 500px;
    color: #FF3900;
    padding: 1em 1em;
}

.form-heading {
    color: white;
    font-size: 1.5em;
}

.form-label {
    color: white;
    font-size: 0.9em;
    display: block;
    margin-bottom: 0;
}

.form-style {
    position: absolute;
    width: 350px;
    right: 0;
    bottom: -4em;
    background-image: linear-gradient( 70deg,#f30,#f90);
    display: inline-block;
    padding: 1em 2em;
}

.footer-style {
    background-color: #05101D;
    line-height: unset;
}


.white-border {
    position: absolute;
    top: 8%;
    width: 95%;
    left: 2.5%;
    bottom: 2%;
    background-color: transparent;
    border: 0.1em solid white;
}

.text-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65vw;
}

.secondary-text {
    font-size: 2vw;
}

.main-text {
    font-size: 3.5vw;
}

/* RESPONSIVIDAD */

@media (max-width: 1350px) {
    .form-style {
        bottom: -60%;
    }
}

@media (max-width: 768px) {
    .white-border {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .form-style {
        position: static;
        width: 80%;
    }

    .white-border .text-div {
        display: none;
    }

    #btnLogin {
        display: block;
        width: 100%;
        margin: 0 auto;
    }
}