
.top-header {
    
}

.main-content {
    position: absolute;
    height: 60%;
    background-image: url('../Images/fondo-ternium.png');
    background-size: cover;
    background-position: bottom left;
}

.nav-style {
    flex-direction: row;
}

.form-style {
    background-image: linear-gradient( 70deg,#f30,#f90);
}

.footer-style {
    background-color: #05101D;
    line-height: unset;
}