.main-nav {
    background-color: rgba(5, 16, 29, 0.8);
    color: white;
}

.yellow-bar {
    background-color: #FFAD3D;
    height: 4px;
}

.footer-style {
    background-color: #05101D;
    line-height: unset;
}