.user-image {
    font-size: 14vw;
}

.user-data {
    font-size: 1.75rem;
    font-weight: bold;
}

.user-info {
    font-size: 1.5em;
}

.type-list {
    list-style: none;
}

.streak-style {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.streak-style h5 {
    font-weight: bold;
}

.streak-border {
    width: 12vw;
    height: 12vw;
    border-radius: 50%;
    background-image: linear-gradient( 70deg,#f30,#f90);
    display: flex;
    align-items: center;
    justify-content: center;
}

.streak-background {
    background-color: white;
    width: 85%;
    height: 85%;
    border-radius: 50%;
}

.streak-num {
    font-size: 8vw;
}

.medal-card {
    width: 12em;
}

.medal-icon {
    color: #FFDB5C;
    padding: 1.2rem 0;
    font-size: 7em;
}

.medal-body {
    padding: 0.5em;
    border: 1px solid rgba(0,0,0,.125)
}

.medal-title {
    margin-bottom: 0.75rem;
    font-size: 1em;
    font-weight: 700;
}

.medal-text {
    line-height: 1rem;
}

/* CODIGO PARA BARRA DE CARGA */

.card-top {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 1em 0;
}

    .card-top .circle {
        position: relative;
        height: 14vw;
        width: 14vw;
        border-radius: 50%;
    }

        .card-top .circle .box,
        .card-top .circle .box svg {
            position: absolute;
            top: 50%;
            left: 50%;
        }

        .card-top .circle .box {
            width: 100%;
            height: 100%;
            background: white;
            transform: translate(-50%, -50%) scale(0.9);
            border-radius: 50%;
        }

            .card-top .circle .box svg {
                width: 70%;
                transform: translate(-50%, -50%);
            }

    .card-top .text {
        font-size: 20px;
        font-weight: 500;
    }

    .bar canvas {
        width: 14vw;
        height: 14vw;
    }

/* RESPONSIVIDAD */

@media (max-width: 1200px) {
    .user-image {
        font-size: 12em;
    }

    .user-info {
        font-size: 1.2em;
    }

    .user-data {
        font-size: 1.5em;
    }
}

@media(max-width: 768px) {
    .card-top .circle,
    .bar canvas {
        width: 100px;
        height: 100px;
    }

    .medal-card {
        width: 10em;
    }
}