@font-face {
    font-family: 'Trade Gothic LT';
    src: local('Trade Gothic LT'), url('./Trade Gothic LT.ttf') format('truetype');
}

@font-face {
    font-family: 'Trade Gothic LT Bold';
    src: local('Trade Gothic LT Bold'), url('./Trade Gothic LT Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Trade Gothic LT Light';
    src: local('Trade Gothic LT Light'), url('./Trade Gothic LT Light.ttf') format('truetype');
}

.tradeFont {
    font-family: 'Trade Gothic LT' !important;
}

.tradeFontBold {
    font-family: 'Trade Gothic LT Bold' !important
}

.tradeFontLight {
    font-family: 'Trade Gothic LT Light' !important
}