@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form method="post">
    <div>
        Usuario: <input asp-for="Usuario.username" /><br /><br />
        Contraseña: <input asp-for="Usuario.password"/><br /><br />
        <input id="btnLogin" type="submit" value="Login"/>
        <label>@Model.Mensaje</label>
    </div>
</form>