@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AppTernium</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/fonts/font.css" />
    <link rel="stylesheet" href="~/css/login.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
</head>
<body class="tradeFont">
    <header class="top-header">
        <nav class="navbar mb-0">
            <div class="container d-flex align-items-center justify-content-between top-header">
                <a class="navbar-brand" asp-area="" asp-page="#">
                    <img src="~/Images/LogoTerniumBlanco.png" width="100" class="d-inline-block align-text-top" />
                </a>
                <div class="d-flex font-weight-bold">
                    <ul class="navbar-nav nav-style">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">FAQ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Contáctenos</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container-fluid main-content">
        <main>
            <div class="white-border">
                <div class="h-100 d-flex flex-column justify-content-center ml-5 text-div">
                    <h2 class="h2 text-white secondary-text"><i class="fas fa-caret-right"></i> Plataforma de Asistente de Entrenamiento de Inspector.</h2>
                    <h1 class="h1 text-white font-weight-bolder main-text">Asistente de Entrenamiento de Inspector</h1>
                </div>
                <form method="post" class="form-style">
                    <div>
                        <h3 class="form-heading mb-3">Ingrese a su cuenta</h3>

                        <label for="username" class="form-label">Nombre de Usuario</label>
                        <input asp-for="Usuario.username" placeholder="Nombre de Usuario" id="username" class="user-input d-block" />
                        <label for="password" class="form-label">Contraseña</label>
                        <input asp-for="Usuario.password" placeholder="Contraseña" class="user-input d-block" />
                        <input id="btnLogin" class="btn login-btn font-weight-bold" type="submit" value="INGRESAR" />
                        <label>@Model.Mensaje</label>
                    </div>
                </form>
            </div>
        </main>
    </div>

    <footer class="footer text-white footer-style p-4">
        <div class="container d-flex align-items-center justify-content-between">
            <div class="d-flex justify-content-between">
                <label>FAQ</label>
                <label>Contáctenos</label>
            </div>
            <img src="~/Images/iconoNegro.png" width="100" />
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>

