@page
@using Newtonsoft.Json.Linq;
@model LeaderboardModel
@{
}

<div class="container d-flex align-items-center justify-content-between mt-5 mb-4">
    <div class="btn-group btn-group-toggle">
        <button type="button" class="btn btn-inactive btn-left btn-leaderboard font-weight-bold">EXAMEN</button>
        <button type="button" class="btn btn-active btn-right btn-leaderboard font-weight-bold">PRÁCTICA</button>
    </div>

    <h1 class="display-4 font-weight-bolder">TABLA DE CLASIFICACIÓN</h1>

    <div class="form-group">
        <select class="form-control rounded-pill font-weight-bold" onchange="parentNode.submit();">
            <option>SEMANAL</option>
            <option>MENSUAL</option>
            <option>GLOBAL</option>
        </select>
    </div>

</div>

<div class="table text-dark">
    <table class="table table-hover table-striped">
        <thead class="thead-dark">
            <tr class="">
                <th class="px-4">Rango</th>
                <th class="">Username</th>
                <th class="px-4">Puntuación</th>
            </tr>
        </thead>
        <tbody>
            @{ 
                if (Model != null) {
                    int position = 1;
                    foreach (JObject score in Model.scores) {
                        <tr>
                            <td>@position</td>
                            <td>@score["username"].ToString()</td>
                            <td>@score["score"].ToString()</td>
                        </tr>
                        position++;
                    }
                }
            }
        </tbody>
    </table>
</div>