@page
@model LeaderboardModel
@{
}

<div class="container d-flex justify-content-between mt-5 mb-4">
    <div class="btn-group rounded-pill">
        <button type="button" class="btn btn-primary btn-left">EXAMEN</button>
        <button type="button" class="btn btn-primary btn-right">PRÁCTICA</button>
    </div>
    <h1 class="font-weight-bold">TABLA DE CLASIFICACIÓN</h1>

    <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle rounded-pill" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            SEMANAL
        </button>

        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Semanal</a>
            <a class="dropdown-item" href="#">Mensual</a>
            <a class="dropdown-item" href="#">Global</a>
        </div>
    </div>

</div>

<div class="table text-dark">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>@Model.responseGet</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>