@page
@model AppTernium.Pages.ProfileModel
@{
}


<div class="container">

    <div class="row">
        <div class="col-2">
            <i class="fas fa-user-circle fa-10x" id="user-image"></i>
        </div>
        <div class="col-7">
            <p><span class="font-weight-bolder">Username:</span> ternium1234</p>


        </div>
        <div class="col-3">

        </div>
    </div>

</div>