<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AppTernium</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/navbarStyles.css"/>
    <link rel="stylesheet" href="~/css/fonts/font.css" />
    <link rel="stylesheet" href="~/css/leaderboard.css" />
</head>
<body class="tradeFont">
    <header>
        <nav class="navbar navbar-expand-sm d-flex align-items-center justify-content-between mb-0 main-nav">
            <a class="navbar-brand" asp-area="" asp-page="#">
                <img src="~/Images/LogoTerniumBlanco.png" width="100" class="d-inline-block align-text-top" />
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon text-white"></span>
            </button>

            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-center font-weight-bold" id="main-navbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-page="/Exams"><i class="fas fa-stream"></i>  Examenes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-page="/Privacy">Entrenar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-page="/Leaderboard">Leaderboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-page="/Privacy">Medallas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-page="/Privacy">Indicadores</a>
                    </li>
                </ul>
            </div>

            <div class="d-flex align-items-center">
                <p>Marco del Valle</p>
            </div>
        </nav>

        <div class="container-fluid box-shadow yellow-bar mt-0"></div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-white footer-style p-2">
        <div class="container d-flex justify-content-between">
            <label>Más información</label>
            <label>Asistente de Entrenamiento de Inspector</label>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
