<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AppTernium</title>
    <!-- Bootstrap, FontAwesome y Site -->
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <!-- Font de Ternium -->
    <link rel="stylesheet" href="~/css/fonts/font.css" />

    <!-- Hojas de estilo personalizadas -->
    <link rel="stylesheet" href="~/css/header-footer.css" />
    <link rel="stylesheet" href="~/css/leaderboard.css" />
    <link rel="stylesheet" href="~/css/profile.css" />
    <link rel="stylesheet" href="~/css/exams.css" />

</head>
<body class="tradeFont">
    <header>
        <nav class="navbar navbar-expand-sm d-flex align-items-center justify-content-between mb-0 main-nav">
            <a class="navbar-brand" asp-area="" asp-page="#">
                <img src="~/Images/LogoTerniumBlanco.png" class="ternium-logo d-inline-block align-text-top" />
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon text-white"></span>
            </button>

            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-center font-weight-bold" id="main-navbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link text-white d-inline-flex align-items-center" asp-area="" asp-page="/Exams">
                            <i class="fas fa-stream fa-2x"></i><span class="pl-2">Examenes</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white d-inline-flex align-items-center" asp-area="" asp-page="/Privacy">
                            <i class="fas fa-dumbbell fa-2x"></i><span class="pl-2">Entrenar</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white d-inline-flex align-items-center" asp-area="" asp-page="/Leaderboard">
                            <i class="fas fa-trophy fa-2x"></i><span class="pl-2">Leaderboard</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white d-inline-flex align-items-center" asp-area="" asp-page="/Indicadores">
                            <i class="fas fa-chart-line fa-2x"></i><span class="pl-2">Indicadores</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="d-flex align-items-center">
                <i class="fas fa-user-circle fa-3x"></i>
                @{
                    var sessionName = new Byte[20];
                    bool nameOK = Context.Session.TryGetValue("username", out sessionName);
                    string result = System.Text.Encoding.UTF8.GetString(sessionName);
                    <a class="active-user nav-link text-white mx-1 font-weight-bolder" asp-page="/Profile">@result</a>
                }
                <i class="fas fa-angle-down"></i>
                <a class="active-user nav-link text-white mx-1" asp-page="/Logout">LOGOUT</a>
            </div>
        </nav>

        <div class="container-fluid box-shadow yellow-bar mt-0"></div>
    </header>

    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-white footer-style p-2">
        <div class="container d-flex justify-content-between">
            <label>Más información</label>
            <label>Asistente de Entrenamiento de Inspector</label>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-circle-progress/circle-progress.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
